<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.miragliabi.m365-weekly</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/miragliag/Dropbox/Miraglia-BI/0_Internal/Obsidian gimi/Miragliag/40_Resources/scripts/weekly_refresh.sh</string>
    </array>

    <!-- Jeden Freitag 23:40 Uhr (Weekday 5 = Freitag) -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key><integer>5</integer>
        <key>Hour</key><integer>23</integer>
        <key>Minute</key><integer>40</integer>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/miragliag/Dropbox/Miraglia-BI/0_Internal/Obsidian gimi/Miragliag/40_Resources/scripts</string>

    <key>StandardOutPath</key>
    <string>/Users/miragliag/Dropbox/Miraglia-BI/0_Internal/Obsidian gimi/Miragliag/40_Resources/scripts/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/miragliag/Dropbox/Miraglia-BI/0_Internal/Obsidian gimi/Miragliag/40_Resources/scripts/launchd.err.log</string>
</dict>
</plist>
